<configuration>
  <system.webServer>
    <handlers>
      <!-- Manejador para Java -->
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform
        processPath="java"
        arguments="-jar &quot;D:\home\site\wwwroot\webapptask-app-dev.jar&quot;"
        stdoutLogEnabled="true"
        stdoutLogFile="\\home\\LogFiles\\stdout.log"
        startupTimeLimit="60"/>
  </system.webServer>
</configuration>
